body {
  font-family: arial narrow;
  color: #7986CB;
  font-weight: 600;
  font-size: 20px;
  background-color: #E5EFF1;
}

label {
  font-size: 18px;
}
#title {
  height: 100px;
}

h4 {
   text-align:center;
   padding: 10px;
}

#mot_en_cours {
   text-align:center;
   font-size:1.5em;
   margin-bottom:35px;
   margin-top: 60px;
}



#game {
  border: 2px solid silver;
  border-radius:5px;
}
